body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
h1 {
    text-align: center;
}
.inputs {
    display: flex;
    height: 3rem;
    justify-content: space-around;
}
.operation {
    display: flex;
    margin: 2em 0;
    justify-content: space-around;
}
.operation .btn {
    border-radius: 50%;
    background-color: #fff;
    height: 50px;
    width: 50px;
}
.btn {
    background-color: #fff;
        height: 50px;
        width: 80px;
        border-radius: 10px;
}
.bottom {
    display: flex;
    justify-content: space-evenly;
}
h3 {
    display: none;
}

#historyDisplay {
    display: none;
}
